body{
	background-image: url(images/header_back.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	display:flex;  
}

#header{
	padding-top: 4%;
	padding-left: 4%;
	width: 100%;
}

#header p{
	display:inline-flex;
	justify-content: flex-start;
}
#signup-button{
	display:inline-flex;
	justify-content: flex-end;
}
#login-button{
	display:inline-flex;
	justify-content: flex-end;	
}
